extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name.
        h1 Jasmine Minnieweather

        //- Title
        p.lead.text-light
          | Full Stack JavaScript Developer Apprentice

        //- Elevator pitch 
        .portfolio-bio
          p
            | Hello, my name is Jasmine Minnieweather and I am currently working towards my certification in FullStack JavaScript via Team Treehouse online. 
            | I am very interested in furthering my knowledge in programming and learning as much as possible.
            | Here you will find a collection of projects that I have worked on so far throughout this course. Stay tuned! More projects will be added along the way! Thanks for stopping by!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        //- Ten skills that i've acquired throughout the program.
        ul
          li Express
          li Fullstack JavaScript
          li JQuery
          li OOP
          li API
          li Node
          li JSON
          li CSS
          li HTML
          li AJAX
        h6 Contact Info

        //- Contact info
        ul
          li 469-268-4627
          li jasmine.minniweather@verizon.com

        //-URLs of the hrefs below to link to social media accounts
        a.button.expanded(href='https://github.com/minnja6?tab=repositories' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  