extends layout.pug

block content   
    article(style="padding:4vmin;")
        h2.error-title #{error.status} Error!
        if (error.message)
            div.error-message
                p #{error.message}
        if (error.stack)
            div.error-stack
            
